:root{
    --clip-init: polygon(0 0, 0 0, 0 0, 0 0);
    --clip-finish: polygon(0 0, 0 100%, 100% 100%, 100% 0);
}

.tech__container{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    animation: show var(--time-animation) forwards;
}

/* SECTION TECH SUBTITLE*/
.tech__subtitle{
    grid-column: 2/4;
    grid-row: 1/2;
    color: white;
    font-size: 2.8rem;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 4.7px;
    font-weight: normal;
    margin-bottom: 20px;
}

/* SECTION TECH INFO*/

.tech__info{
    grid-column: 1/6;
    grid-row: 2/-1;
    display: grid;
    grid-template-columns: 160px 1fr 1fr 1fr 1fr ;
    grid-template-rows: repeat(8, 1fr);
}

.tech__items{
    grid-column: 1/3;
    grid-row: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* SECTION TECH ITEM */

.tech__item{
    width: 70px;
    height: 70px;
    display: block;
    text-align: center;
    line-height: 70px;
    border-radius: 50%;
    font-size: 3.2rem;
    margin-bottom: 50px;
    border: 1px solid rgba(114, 114, 114, 0.74);
    color: var(--color-white);
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

.tech__item::before{
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid var(--color-white);
    clip-path: var(--clip-init);
}

.tech__item--active{
    background-color: var(--color-white);
    color: var(--color-black);
}

.tech__item:hover::before{
    animation: load 0.3s forwards;
}

.tech__item:not(:hover)::before{

    animation: finish 0.3s forwards;
}


.tech__item--active::before{
    display: none;
}

/* SECTION TECH INFO */

.techInfo__container{
    color: white;
    grid-column: 3/-1;
    grid-row: 1/-1;
    justify-self: center;
}

.techInfo__subtitle{
    font-size: 2rem;
    letter-spacing: 2.7px;
    font-weight: normal;
    font-family: 'Barlow Condensed', sans-serif;
    color: var(--color-blue);
    margin-bottom: 16px;
}

.techInfo__name{
    font-size: 5.2rem;
    color: var(--color-white);
    font-weight: normal;
    margin-bottom: 17px;
}

.techInfo__paragraph{
    width: 80%;
    color: var(--color-blue);
    line-height: 1.5;
    font-size: 1.8rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: normal;
}


/* TECH IMAGEN */

.tech__picture{
    grid-column: 6/-1;
    grid-row: 2/-1;
    position: relative;
}

.tech__img{
    display: block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    transform: translateX(200%);
    transition: transform 300ms ease;
}

.tech__img--launch{
    background-image: url("./../../Assets/technology/image-launch-vehicle-portrait.jpg");
    transform: translateX(30%);
}
.tech__img--spaceport{
    background-image: url("./../../Assets/technology/image-spaceport-portrait.jpg");
    transform: translateX(30%);
}
.tech__img--space{
    background-image: url("./../../Assets/technology/image-space-capsule-portrait.jpg");
    transform: translateX(30%);
}

/* Viewport 768px */

@media screen and (max-width: 768px) {
    .tech__container{
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(10, 92px);
        animation: show var(--time-animation) forwards;
    }

    .tech__subtitle{
        grid-column: 1/-1;
        grid-row: 1/2;
        font-size: 2rem;
        padding: 0px;
        width: 100%;
        margin-bottom: 0px;
        margin-top: 30px;
    }

    .tech__info{
        grid-column: 1/-1;
        grid-row: 5/-1;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
    }


    /* SECTION TECH ITEM */

    .tech__items{
        grid-column: 1/-1;
        grid-row: 1/3;
        align-self: flex-end;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .tech__item{
        margin-right: 20px;
        margin-bottom: 0px;
    }

    /* SECTION TECH INFO */

    .techInfo__container{
        color: white;
        grid-column: 1/-1;
        grid-row: 4/-1;
        justify-self: center;
        text-align: center;
    }

    .techInfo__subtitle{
        font-size: 2rem;
        letter-spacing: 2.7px;
        font-weight: normal;
        font-family: 'Barlow Condensed', sans-serif;
        color: var(--color-blue);
        margin-bottom: 16px;
    }

    .techInfo__name{
        font-size: 5.2rem;
        color: var(--color-white);
        font-weight: normal;
        margin-bottom: 17px;
    }

    .techInfo__paragraph{
        width: 75%;
        margin: 0 auto;
        letter-spacing: 1.2px;
    }

    .tech__picture{
        grid-column: 1/-1;
        grid-row: 2/5;
    }
    
    .tech__img{
        background-size: auto;
        background-position: bottom;
        width: 150%;
        transform: translateX(100%);
    }

    .tech__img--launch{
        background-image: url("./../../Assets/technology/image-launch-vehicle-landscape.jpg");
        transform: translateX(-170px);
    }
    .tech__img--spaceport{
        background-image: url("./../../Assets/technology/image-spaceport-landscape.jpg");
        transform: translateX(-170px);
    }
    .tech__img--space{
        background-image: url("./../../Assets/technology/image-space-capsule-landscape.jpg");
        transform: translateX(-170px);
    }
}

/* Viewport 425px */
@media screen and (max-width: 425px) {
    .tech__items{
        justify-content: space-around;
    }

    .techInfo__container{
        grid-row: 3/-1;
    }

    .techInfo__subtitle{
        margin-top: 25px;
    }

    .techInfo__name{
        font-size: 4rem;
        margin-top: 30px;
    }

    .techInfo__paragraph{
        text-align: left;
        font-weight: 100;
        font-size: 2rem;
        margin: 0;
        margin-top: 30px;
        width: 100%;
        line-height: 1.6;
        letter-spacing: 1.5px;
    }
}