@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

:root{
    --color-black: #0B0D17;
    --color-blue: #D0D6F9;
    --color-white: #FFFFFF;
    --time-animation: 500ms;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bellefair', serif;
    font-size: 10px;
    user-select: none;
}

.body{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    overflow: hidden;
}

.body__background--home{
    background-image: url("../../Assets/home/background-home-desktop.jpg");
}

.body__background--destination{
    background-image: url("../../Assets/destination/background-destination-desktop.jpg");
}

.body__background--crew{
    background-image: url("../../Assets/crew/background-crew-desktop.jpg");
}

.body__background--tech{
    background-image: url("../../Assets/technology/background-technology-desktop.jpg");
}

picture{
    margin: 0;
}

/* Viewport 768px */

@media screen and (max-width: 768px) {
    .body__background--home{
        background-image: url("../../Assets/home/background-home-tablet.jpg");
    }
    
    .body__background--destination{
        background-image: url("../../Assets/destination/background-destination-tablet.jpg");
    }
    
    .body__background--crew{
        background-image: url("../../Assets/crew/background-crew-tablet.jpg");
    }
    
    .body__background--tech{
        background-image: url("../../Assets/technology/background-technology-tablet.jpg");
    }
}

/* Viewport 768px */

@media screen and (max-width: 425px) {
    .body__background--home{
        background-image: url("../../Assets/home/background-home-mobile.jpg");
    }
    
    .body__background--destination{
        background-image: url("../../Assets/destination/background-destination-mobile.jpg");
    }
    
    .body__background--crew{
        background-image: url("../../Assets/crew/background-crew-mobile.jpg");
    }
    
    .body__background--tech{
        background-image: url("../../Assets/technology/background-technology-mobile.jpg");
    }
}